DATABASE_URL=postgresql://postgres:shaivi123@localhost:5432/plantdoc_db
SECRET_KEY=my-secret-key-change-this-later
ACCESS_TOKEN_EXPIRE_MINUTES=10080
EMAIL_ADDRESS=shaivisharma982@gmail.com
EMAIL_APP_PASSWORD=hrocweklrlrjdped
